<div class="container">
  <div class="row">
    <div class = "p-3 text-black">
      <span class = "bg-light pr-3 pl-3 h5">商品新規登録</span>
    </div>
  </div>

   <%= form_with model: @item, url: admin_items_path, method: :post do |f| %>
       <div class="d-flex justify-content-center m-3">
        <table>
          <tbody>

          <tr>
            <th class="pr-4 pb-2">
              商品画像
            </th>
            <td class="pr-4 pb-2">
              <%= f.file_field :image, accept: "image/*" %>
            </td>
          </tr>

          <tr>
            <th class="pr-4 pb-2">
              商品名
            </th>
            <td class="pr-4 pb-2">
              <%= f.text_field :name, autofocus: true, :placeholder => "商品名" %>
            </td>
          </tr>

          <tr>
            <th class="pr-4 pb-2">
              商品説明
            </th>
            <td class="pr-4 pb-2">
              <%= f.text_area :introduction, rows:3, autofocus: true, :placeholder => "ここに説明文を記述します" %>
            </td>
          </tr>

          <tr>
            <th class="pr-4 pb-2">
              税込価格
            </th>
            <td class="pr-4 pb-2">
              <%= f.text_field :price, autofocus: true, id:"inputIntroduction" %>円
            </td>
          </tr>

        </tbody>
      </table>
    </div>

  <div class="d-flex justify-content-center m-3">
      <%= f.submit "新規登録", class: "btn btn-success" %>
  </div>
    <% end %>

   </div>
</div>
