<div class = "container">
  <div class = "p-3 text-black">
      <span class = "bg-light pr-3 pl-3 h5">注文履歴詳細</span>
  </div>

<table>
  <thead>
    <tr>
      <th class="p-2">購入者</th>
      <td class="p-2"><%= customer_id.name %></td>
    </tr>

    <tr>
      <th class="p-2">注文日</th>
      <td class="p-2"><%= customer_id.order_date %></td>
    </tr>

    <tr>
      <th class="p-2">配送先</th>
      <td class="p-2"><%= post_code + address + mailling_label %>></td>
    </tr>

    <tr>
      <th class="p-2">支払方法</th>
      <td class="p-2"><%= method_of_payment %></td>
    </tr>
  </thead>
</table>

<table class="table table-bordered m-2">
  <thead class="thead-light">
    <tr>
      <th class="p-2">商品名</th>
      <th class="p-2">単価(税込)</th>
      <th class="p-2">数量</th>
      <th class="p-2">小計</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
    <tr>
      <td class="p-2"><%= order.item.name %></td>
      <td class="p-2"><%= order.item.with_tax_price %></td>
      <td class="p-2"><%= order.amount %></td>
      <td class="p-2"><%= (order.item.price * 1.1).floor * order.amount %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th class="p-2">商品合計</th>
      <th class="p-2"><%= @total_items_price.to_s(:delimited) %>円</th>
    </tr>

    <tr>
    <td class="p-2">送料</td>
    <td class="p-2"><%= @order.postage.to_s(:delimited) %>円</td>
    </tr>

    <tr>
      <td class="p-2">請求金額合計</td>
      <td class="p-2"><%= @order.total_amount.to_s(:delimited) %>円</td>
    </tr>
  </thead>
</table>