<div class = "container">
  <div class = "p-3 text-black">
        <span class = "bg-light pr-3 pl-3 h5">会員一覧</span>
  </div>

  <div class = "col-md-8 mt-0 ml-5 mr-5 mb-5">
    <table>
      <thead class = "bg-light">
        <tr>
          <th class = "p-2">会員ID</th>
          <th class = "p-2">氏名</th>
          <th class = "p-2">メールアドレス</th>
          <th class = "p-2">ステータス</th>
        </tr>
      </thead>

      <tbody>
        <% @customers.each do |customer| %>

        <tr>
          <td class = "p-3"><%= customer.id %></td>
          <td class = "p-3"><%= link_to customer.last_name + customer.first_name, admin_customer_path(customer.id)%></td>
          <td class = "p-3"><%= customer.email %></td>
          <td class = "p-3">
            <% if customer.is_deleted %>
              <%= "退会済み" %>
            <% else %>
              <%= "有効" %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>