<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="shadow-sm">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
         <%= link_to 'Logo', root_path, class: ' navbar-brand' %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
      <% if admin_signed_in? %>
        <% if request.fullpath.inclide? "/admin" %>
        <li class="nav-item">
          <%= link_to "商品一覧", "/admin/items/index", class: 'nav-link text-dark' %>
        </li>

        <li class="nav-item">
          <%= link_to "会員一覧", "/admin/customers", class: 'nav-link text-dark' %>
        </li>

        <li class="nav-item">
          <%= link_to "注文履歴一覧", "/admin", class: 'nav-link text-dark' %>
        </li>

        <li class="nav-item">
          <%= link_to "ログアウト", "/admin/sign_out" %>
        </li>
        <% end %>

      <% elseif public_signed_in? %>
        <li class="nav-item">
          <%= link_to "マイページ", "/customers/my_page", class: 'nav-link text-dark' %>
        </li>

        <li class="nav-item">
          <%= link_to "商品一覧", "/admin/items", class: 'nav-link text-dark' %>
        </li>

        <li class="nav-item">
          <%= link_to "カート", "/cart_items", class: 'nav-link text-dark' %>
        </li>

        <li class="nav-item">
          <%= link_to "ログアウト", "/customers/sign_out", method: :delete, class: 'nav-link text-dark' %>
        </li>

      <% else %>
        <li class="nav-item">
          <%= link_to "About", "homes/about", class: 'nav-link text-dark' %>
        </li>

        <li class="nav-item">
          <%= link_to "商品一覧", "/admin/items", class: 'nav-link text-dark' %>
        </li>

        <li class="nav-item">
          <%= link_to "新規登録", "/customers/sign_up", class: 'nav-link text-dark' %>
        </li>

        <li class="nav-item">
          <%= link_to "ログイン", "/customers/sign_in", class: 'nav-link text-dark' %>
        </li>

      <% end %>
      </ul>
      </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
