<h2>新規会員登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>

<p  style="display: inline-block">名前</p>

    <%= f.label :'(姓)' %>
    <%= f.text_field :last_name %>

    <%= f.label :'(名)' %>
    <%= f.text_field :first_name %></br>


<p style="display: inline-block">フリガナ</p>

    <%= f.label :'(セイ)' %>
    <%= f.text_field :last_name_kana %>

    <%= f.label :'(メイ)' %>
    <%= f.text_field :first_name_kana %></br>


<p style="display: inline-block">メールアドレス</p>

    <%= f.email_field :email, autofocus: true, autocomplete: "email" %></br>


<p style="display: inline-block">郵便番号(ハイフンなし)</p>
    <%= f.text_field :postal_code %></br>

<p style="display: inline-block">住所</p>
    <%= f.text_field :address %></br>


<p style="display: inline-block">電話番号(ハイフンなし)</p>

    <%= f.text_field :telephone_number %></br>


<p style="display: inline-block">パスワード(6文字以上)</p>

     <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password" %>


</br><p style="display: inline-block">パスワード(確認用)</p>

    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>

  </br>

  <div class="actions">
    <%= f.submit "新規登録", class:"btn btn-success" %>
  </div>
<% end %>
</br>

<h4>既に登録済みの方</h4>
<p><%= link_to "こちら", new_customer_session_path %>からログインしてください</p>

<!--render "public/shared/links" -->
