<div class = "p-3 text-black">
  <div class = "bg-secondary w-25 mt-5 ml-5"><h5>注文履歴</h5></div>
</div>
<div class="col-md-8">
  <table class="table table-bordered">
    <tbody>
      <thead class="thead-light">
      <% @orders.each do |order| %>
        <tr>
          <th>注文日</th>
          <td><%= order.date %></td>
        </tr>
        <tr>
          <th>配送先</th>
          <td><%= order.address %></td>
        </tr>
        <tr>
          <th>注文商品</th>
          <td><%= order.items %></td>
        </tr>
        <tr>
          <th>支払い金額</th>
          <td><%= order.payment %></td>
        </tr>
        <tr>
          <th>注文詳細</th>
          <td><%= link_to "表示する", orders_show_path, class: "btn btn-primary" %></td>
        </tr>
      <% end %>
      </thead>
    </tbody>
  </table>
</div>
