<div class = "container">
  <div class = "row">
    <div class = "col-md-3 mt-5"></div>

    <div class = "col-md-4 mt-5">
        <%= image_tag @item.get_profile_image(300, 300) %>
    </div>
    <div class = "col-md-5 mt-5">
        <p><b><%= @item.name %></b></p>
        <p><%= @item.introduction %></p>
        <p><%= "￥" + (@item.price*1.10).round.to_s + "（税込）" %></p>
        <%= form_with model: @cart_item, url: cart_items_path, method: :post do |f| %>
        <%= f.hidden_field :item_id, :value => @item.id %>
        <%= f.hidden_field :customer_id, :value => current_customer.id %>
        <p><%= f.select :amount, *[1..10], {prompt: "選択して下さい", :class => "form-control-sm"}  %>
           <%= f.submit "カートに入れる", class: "btn btn-success" %>
        </p>
        <% end %>
    </div>
  </div>
</div>