<div class = "container">
  <div class="row">
    <div class="col-md-3">
      <table class="table table-bordered">
        <tr>
          <th>ジャンル検索</th>
        </tr>
        <tr>
          <td>
          <% @genres.each do |genre| %>
            <%= link_to genre.name, items_path(genre_id: genre.id) %></br>
          <% end %>
          <td>
        </tr>
      </table>
    </div>


    <div class="col-md-9 p-5">
      <div class="container">
        <div class="row">
          ようこそ、ながのＣＡＫＥへ！</br>
          このサイトは、ケーキ販売のＥＣサイトになります。</br>
          会員でない方も商品の閲覧はできますが、</br>
          購入には会員登録が必要になります。
        </div>
        <div class="row">　</div>
        <div class="row">
          <h3><b>新着商品</b></h3>
        </div>
        <div class="row">　</div>
        <div class="row">
          <% @items.each do |item| %>
            <div class="col-md-3">
              <%= image_tag item.get_profile_image(150,150) %>
              <p><b><%= link_to item.name, item_path(item.id) %></b></p>
              <p><b><%= "￥" + item.price.to_s %></b></p>
            </div>
          <% end %>
        </div>
        <div class="row d-block text-right">
          <%= link_to "全ての商品を見る>", items_path %>
        </div>
      </div>
    </div>
  </div>
</div>
